.chat{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
    margin-bottom: 20px;
}
.msj{
background-color: dodgerblue;
color: white;
padding: 5px 15px;
border-radius: 16px;
}
body{
    margin-left: 20px;
    color: cornflowerblue;
    background-color: lavenderblush;
}